<% provide(:title, "Help's on the way") %>
<h1>Help</h1>
<p>Find me in app/views/static_pages/help.html.erb</p>
<p>Get help on the ruby on rails tutorial at the
    <a href='http://www.railstutorial.org/#help'>Ruby on Rails help Section</a>
</p>
